.title {
    font-family: Montserrat-Bold;
    font-size: 28px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.main__back {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffd05b;
    color: #000 !important;
    transition: 0.2s;
    font-size: 16px;
}

    .main__back:hover {
        background-color: #000;
        color: #fff !important;
        cursor: pointer;
    }

.head-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 50px 0px;
}

.table {
    margin: 0 auto;
}

    .table, .table td, .table th {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .table td, .table th {
        padding: 5px;
    }

    .table td.error {
        position: relative;
        background-color: #ffd05b;
    }

        .table td.error::before {
            position: absolute;
            content: "Значение поля не может быть пустым";
            background-color: #ffd05b;
            top: 9px;
            left: 105%;
            width: max-content;
            padding: 3px;
            font-size: 11px;
            z-index: 2;
        }

    .table td.same-error {
        position: relative;
        background-color: #ff795b;
    }

        .table td.same-error::before {
            position: absolute;
            content: "Некорректное значение поля";
            background-color: #ff795b;
            top: 9px;
            left: 105%;
            width: max-content;
            padding: 3px;
            font-size: 11px;
            z-index: 2;
        }

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(173, 216, 230, 0.6);
    /*background-color: rgb(255, 208, 91, 0.6);*/
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
}

    .popup.show {
        display: flex;
        top: 0;
        opacity: 1;
    }

.popup__container {
    padding: 30px;
    background-color: #fff;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.popup__heading {
    font-size: 20px;
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.popup__buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.popup__buttons button {
    padding: 8px 16px;
    font-size: 16px;
}

.popup__container-inputs {
    max-width: 450px;
}


.button-delete {
    padding: 4px 10px;
/*    background-color: #ff2f2f;
    color: #fff;*/
    background-color: #fff;
    outline: 1px solid #000;
    transition: 0.3s ease;
}

    .button-delete:hover {
        color: #000;
        /*        background-color: #fff;
        outline: 1px solid #000;*/
        background-color: #ff2f2f;
        color: #fff;
        outline: 1px solid #ff2f2f;
    }

.button-deny {
    padding: 5px 10px;
    background-color: #ffd05b;
    color: #000;
    transition: 0.3s;
}

    .button-deny:hover {
        background-color: #000;
        color: #fff;
    }

/* MENU */

